$white: white;
$text-gray: #3f4954;
$text-light: #686666da;
$bg-color: rgb(2, 4, 32);
$white: #ffffff;
$midnight: #a1c4cf;
$light-blue: #adf8fa;

$sky: linear-gradient(-225deg, #7de2fc 0%, #b9b6e5 100%);
$grad: linear-gradient(
	137deg,
	rgba(217, 217, 217, 1) 0%,
	rgb(209, 253, 246) 60%,
	rgb(160, 160, 160) 100%
);
