@use "../abstracts/" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	font-family: "Poppins", sans-serif;
	background: $bg-color;
	color: $white;
	overflow-x: hidden;
}

main {
	min-height: calc(100vh - 83px);
}

a {
	text-decoration: none;
	color: inherit;
}

.flex-row {
	display: flex;
	flex-wrap: wrap;
}

h1 {
	font-size: $font-ml;

	@include mq(520px) {
		font-size: $font-rg;
	}
}

h2 {
	@include mq(520px) {
		font-size: $font-rg;
	}
}

h3 {
	font-size: $font-sm;
}

button.btn {
	border: none;
	border-radius: 2rem;
	padding: 1rem 3rem;
	font-size: 1rem;
	cursor: pointer;
}

p {
	@include mq(520px) {
		font-size: $font-xs;
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.page-body {
	margin: 0;
}

.outer {
	min-height: 80vh;
}

.link-hide {
	display: none;
}

.container {
	max-width: min(90rem, 95%);
	margin: 0 auto;
}
