@use "../abstracts/" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Josefin+Sans&family=Lexend+Deca&family=Livvic&display=swap");

html,
body {
	width: 100%;
	background: url(/bg.png);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/*      Theme colors        */
	--text-gray: #3f4954;
	--text-light: #686666da;
	--bg-color: #0f0f0f;
	--white: #ffffff;
	--midnight: #a1c4cf;

	/* gradient color   */
	--sky: linear-gradient(-225deg, #7de2fc 0%, #b9b6e5 100%);

	/*      theme font-family   */
	--Abel: "Abel", sans-serif;
	--Anton: "Anton", sans-serif;
	--Josefin: "Josefin Sans", sans-serif;
	--Lexend: "Lexend Deca", sans-serif;
	--Livvic: "Livvic", sans-serif;
}

/* ---------------- Global Classes ---------------*/

a {
	text-decoration: none;
	color: var(--text-gray);
	font-family: var(--Lexend), "Verdana";
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

h1 {
	font-family: var(--Lexend), "Verdana";
	font-size: 2.5rem;
}

h2 {
	font-family: var(--Lexend), "Verdana";
}

h3 {
	font-family: var(--Abel), "Verdana";
	font-size: 1.3rem;
}
h4 {
	color: var(--text-light);
}

button.btn {
	border: none;
	border-radius: 2rem;
	padding: 1rem 3rem;
	font-size: 1rem;
	font-family: var(--Livvic), "Verdana";
	cursor: pointer;
}

.text-gray {
	color: var(--text-gray);
}

p {
	font-family: var(--Lexend), "Verdana";
	color: var(--text-light);
}

/* ------x------- Global Classes -------x-------*/

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.nav .nav-menu {
	justify-content: space-between;
	margin-top: 10px;
}

.nav-brand {
	font-family: var(--Lexend), Verdana, Geneva, Tahoma, sans-serif;
	padding-left: 10px;
	font-size: 1.5rem;
}

.page-body {
	margin: 0;
}

.outer {
	min-height: 80vh;
}

.headline {
	width: 100%;
}

.projects-title {
	padding-left: 10px;
	padding-top: 10px;
}

.search-field {
	position: absolute;
	top: 4.5rem;
	right: 1rem;
	font-family: inherit;
}

.search-field input {
	border-radius: 0;
	padding: 0.5rem;
	outline: none;
	border: solid 2px black;
}

.search-field input:hover {
	border: solid 2px gray;
}

.quick-links {
	margin: 3rem 1rem 0 3rem;
}

.quick-links .tags {
	padding: 0.3rem;
	color: white;
}

.projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	place-items: center;
	gap: 2rem;
	padding: 4rem;
}

.project {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	/* flex-wrap: wrap; */
	margin-top: 3rem;
}

.wrapper {
	width: 400px;
	height: 250px;
	border-radius: 10px;
	background: linear-gradient(
		137deg,
		rgba(217, 217, 217, 1) 0%,
		rgb(209, 253, 246) 60%,
		rgb(160, 160, 160) 100%
	);
}

.wrapper.featured {
	grid-column: span 2;
	width: 100%;
	height: 100%;
}

.project .wrapper {
	height: unset;
	width: 90%;
}

.project-title {
	text-align: left;
	padding-top: 10px;
	padding-left: 10px;
}

.project-image {
	height: 50px;
	width: 50px;
	border: 2px solid #adf8fa;
	border-radius: 50%;
	margin-top: 20px;
	display: flex;
}

.project .wrapper .project-image {
	height: 100px;
	width: 100px;
}

.project-image:hover {
	background-color: #adf8fa;
}

.project-image-text {
	color: white;
	margin: auto;
	font-size: 1.5rem;
	font-weight: 700;
}

.project-desc {
	display: grid;
	grid-template-columns: 10% 90%;
	margin-left: 10px;
	padding-bottom: 20px;
}

.project-desc-pars {
	padding-top: 20px;
}

.project-desc-text {
	padding-left: 50px;
	padding-right: 20px;
}

.project-footer {
	margin: 0;
	padding-left: 20px;
	padding-bottom: 20px;
}

.link-hide {
	display: none;
}
.tag {
	font-family: var(--Livvic), "Verdana";
	list-style: none;
}

.tags {
	background: var(--sky);
	padding: 0rem 0.4rem;
	border-radius: 3rem;
	justify-content: space-evenly;
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;
	border: solid 1px transparent;
	transition: 0.3s ease-in-out;
}

.tags:hover {
	border-color: var(--text-light);
}

.tag-text {
	font-size: 15px;
}

.rights {
	margin: 0;
	justify-content: center;
	font-family: var(--Josefin), "Verdana";
	color: var(--text-light);
}

.social {
	margin: 0;
	justify-content: center;
	font-family: var(--Josefin), "Verdana";
}

.social span {
	margin: 0;
	padding-left: 0.5rem;
	font-size: 25px;
	color: var(--text-light);
}

.social span:hover {
	color: var(--midnight);
}

.not-found {
	display: block;
}

.four04-title {
	margin: 0;
	font-size: 200px;
	text-align: center;
}

.four04-body {
	font-size: 50px;
	text-align: center;
}

.four04-redirect {
	margin: 7px;
	text-align: center;
	color: var(--text-light);
	text-decoration: underline;
}

.four04-body2 {
	margin: 0;
	font-size: 30px;
	text-align: center;
}

/*              Viewport less then or equal to 1130px            */

@media only screen and (max-width: 1130px) {
	.project-desc {
		grid-template-columns: 20% 80%;
	}
}

/*              Viewport less then or equal to 768px            */

@media only screen and (max-width: 768px) {
	.wrapper {
		width: 90%;
		height: unset;
	}

	.wrapper.featured {
		grid-column: span 1;
		border: dashed 3px var(--midnight);
	}

	.project-desc {
		grid-template-columns: 25% 75%;
	}

	.projects {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}

/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px) {
	.nav-brand {
		font-size: 15px;
	}

	h1 {
		font-size: 20px;
	}

	h2 {
		font-size: 15px;
	}

	p {
		font-size: 12px;
	}

	.project-image {
		height: 50px;
		width: 50px;
	}

	.project-image-text {
		font-size: 1.5rem;
	}

	.wrapper {
		width: 90%;
	}

	.project-desc {
		grid-template-columns: 15% 85%;
	}

	.rights {
		font-size: 12px;
	}
}
