@use "../abstracts/" as *;

.rights {
	margin: 0;
	justify-content: center;

	color: $text-light;
}

.social {
	margin: 0;
	justify-content: center;
}

.social span {
	margin: 0;
	padding-left: 0.5rem;
	font-size: 25px;
	color: $text-light;
}

.social span:hover {
	color: $midnight;
}
