.rights {
	margin: 0;
	justify-content: center;

	color: var(--text-light);
}

.social {
	margin: 0;
	justify-content: center;
}

.social span {
	margin: 0;
	padding-left: 0.5rem;
	font-size: 25px;
	color: var(--text-light);
}

.social span:hover {
	color: var(--midnight);
}
