@use "../abstracts/" as *;

footer {
	.rights {
		margin: 0;
		justify-content: center;

		@include mq(520px) {
			font-size: $font-xs;
		}
	}

	.social {
		margin: 0;
		justify-content: center;

		span {
			margin: 0;
			padding-left: 0.5rem;
			font-size: $font-sm;

			&:hover {
				color: $midnight;
			}
		}
	}
}
