@use "../abstracts/" as *;

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem 0;
	font-size: $font-sm;
	padding-bottom: 1rem;
	border-bottom: 0.1px solid whitesmoke;

	@include mq(1024px) {
		flex-direction: column;
		gap: 0.5rem;
	}

	a {
		font-weight: bold;
		font-size: $font-ml;
		padding: 0.2rem 0.5rem;
		border-radius: 1000rem;
		transition: 0.5s;

		@include mq(1024px) {
			font-size: $font-rg;
		}
	}

	.secondary {
		a.link {
			display: block;
			font-weight: normal;
			font-size: inherit;

			:hover {
				color: $light-blue !important;
			}

			@include mq(1024px) {
				font-size: $font-rg;
			}
		}
	}
}
