@use "../abstracts/" as *;

.not-found {
	display: block;

	.four04-title {
		margin: 0;
		font-size: $font-xxxl;
		text-align: center;
	}

	.four04-body {
		font-size: $font-lg;
		text-align: center;
	}

	.four04-redirect {
		margin: 7px;
		text-align: center;
		color: $text-light;
		text-decoration: underline;

		.four04-body2 {
			margin: 0;
			font-size: $font-md;
			text-align: center;
		}
	}
}
