@use "../abstracts/" as *;

.not-found {
	display: block;
}

.four04-title {
	margin: 0;
	font-size: 200px;
	text-align: center;
}

.four04-body {
	font-size: 50px;
	text-align: center;
}

.four04-redirect {
	margin: 7px;
	text-align: center;
	color: $text-light;
	text-decoration: underline;
}

.four04-body2 {
	margin: 0;
	font-size: 30px;
	text-align: center;
}
