@use "../abstracts/" as *;

.not-found {
	text-align: center;

	.four04-title {
		font-size: $font-xxxl;
	}

	.four04-body {
		font-size: $font-lg;
	}

	.four04-body2 {
		font-size: $font-md;
	}

	.four04-redirect {
		margin: 2rem;
		display: block;
		text-decoration: underline;
	}
}
