@use "../abstracts/" as *;

.headline {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-auto-flow: dense;
	place-items: center;
	align-items: stretch;
	gap: 2rem;
	margin: 1rem 0;

	@include mq(1024px) {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}
}
