@use "../abstracts/" as *;

.project-title {
	text-align: left;
	padding-top: 10px;
	padding-left: 10px;
}

.project-image {
	height: 50px;
	width: 50px;
	border: 2px solid $light-blue;
	border-radius: 50%;
	margin-top: 20px;
	display: flex;

	@include mq(520px) {
		height: 50px;
		width: 50px;
	}
}

.project .wrapper .project-image {
	height: 100px;
	width: 100px;
}

.project-image:hover {
	background-color: $light-blue;
}

.project-image-text {
	color: $white;
	margin: auto;
	font-size: $font-sm;
	font-weight: 700;

	@include mq(520px) {
		font-size: $font-sm;
	}
}

.project-desc {
	display: grid;
	grid-template-columns: 10% 90%;
	margin-left: 10px;
	padding-bottom: 20px;

	@include mq(1130px) {
		grid-template-columns: 20% 80%;
	}

	@include mq(768px) {
		grid-template-columns: 25% 75%;
	}

	@include mq(520px) {
		grid-template-columns: 15% 85%;
	}
}

.project-desc-pars {
	padding-top: 20px;
}

.project-desc-text {
	padding-left: 50px;
	padding-right: 20px;
}
