@use "../abstracts/" as *;

.headline {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	place-items: center;
	gap: 2rem;
	padding: 4rem;

	@include mq(768px) {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}
