.tags-page {
	margin-bottom: 2rem;

	h1 {
		margin: 1rem 0;
	}

	.cards {
		display: flex;
		gap: 1rem;
		flex-wrap: wrap;

		.card {
			width: fit-content;
		}
	}

	.projects {
		align-items: stretch;
	}
}
